.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#foodList{
  flex: 50%;
  border: 3px solid black;
  height: 500px;
  border-radius: 20px;
}

#flexDad {
  display: flex;
}

#stack{
  flex: 50%;
  border: solid 2px black;
  height: 500px;
  border-radius: 20px;
 
}

#burgerAdd {
  display: inline;
  position: relative;
 
}

li {
  list-style-type: none;
  display: inline;

}

#burgerDiv {
  position: absolute;
  bottom: 0px;
  display: inline-block;
}

#box {
  position: relative;
  height: 480px;
  display: inline-block;
}

#layer{

  border: solid 2px black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
